* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f3f3;
  font-family: arial, helvetica, sans-serif;
  color: darkblue;
}

.header {
  text-align: center;
  background: white;
  box-shadow: 0 0 30px lightgrey;
  border: 1px solid lightgrey;
}

.header > h1 {
  padding: 5px 0 0;
  margin-top: 0;
}

.header > p {
  padding: 0 0 5px;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: white;
  position: sticky;
  top: 0;
  overflow: hidden;
  box-shadow: 0 2px 5px lightgrey;
  clear: both;
}

li > a {
  display: block;
  text-decoration: none;
  float: left;
  padding: 10px;
  color: darkblue;
}

li > a:hover {
  color: white;
  background: blue;
}

.right {
  float: right;
}

a.active {
  background: darkblue;
  color: white;
}

.title {
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid lightgrey;
}

/*-------------------------------------------
FORM STYLES
-------------------------------------------*/

.form-title {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  color: darkblue;
}

.footnote {
  display: block;
  text-align: center;
  font-size: small;
  padding-top: 10px;
  color: darkblue;
}

.footnote > a:link,
.footnote > a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  color: darkblue;
  border-radius: 0;
  border: 1px solid darkblue;
}

.footnote > a:hover,
.footnote > a:active {
  background: darkblue;
  color: white;
}

form {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 13px 15px;
  box-shadow: 0 2px 30px lightgrey;
  border-radius: 7px;
  background: white;
  color: darkblue;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 7px;
  color: darkblue;
  font-size: 0.9375em;
}

input:focus {
  box-shadow: 0 0 8px lightblue;
}

input[type='submit'],
.add-to-list {
  color: white;
  font-size: 1.25em;
  background: darkblue;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background: blue;
}

input[type='submit']:disabled {
  background: blue;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  form {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}

/*---------------------------------------------
STYLES FOR FOOD ORDER PAGES
---------------------------------------------*/

.clearfix {
  height: 100%;
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.food-menu {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 30px lightgrey;
  background: white;
  margin-bottom: 20px;
  padding: 0 10px 5px 10px;
}

.menu-item {
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  transition: 0.4s;
  width: 100%;
  display: inline-block;
}

.menu-item::after {
  content: '\02795';
  color: darkblue;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.menu-item:hover,
.selected {
  background: #f3f3f3;
}

.selected::after {
  content: '\2796';
}

.menu-item-details {
  overflow: hidden;
  display: none;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  background: #f3f3f3;
}

.quantity,
.menu-item-details > button {
  margin: auto;
  display: block;
  width: 50%;
}

.menu-item-details > button {
  margin-top: 5px;
  color: white;
  background: darkblue;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item-details > button:hover,
.order:hover {
  background: blue;
}

.order {
  padding: 10px;
  background: darkblue;
  font-size: 1.25em;
  border-radius: 7px;
  border: none;
  color: white;
  display: block;
  margin: 10px 0;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}
